* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* display: flex;
 gap: 20px; */
  font-size: 0;
}

.box {
  background-color: rgb(199, 199, 251);
  display: inline-block;
  width: 15%;
  font-size: 20px;
  margin: 20px;
  vertical-align: top;
  padding: 10px;
}