.main {
  background-color: red;
  width: 500px;
  height: 500px;
  margin: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 50px;
  font-size: 50px;
}