* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #1a1a1a;
  background-color: #fefefe;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}



.nav-content {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}